# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
venv311/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# ChromaDB and other data
chroma_db/

logs/
ANIME_RECOMMENDER.egg-info/